.THIS[id='switch']{
	height: 0;
	width: 0;
	visibility: hidden;
}

.THIS[for='switch'] { /* for grey pill */
	cursor: pointer;
	text-indent: -999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: inline; 
	border-radius: 20px;
	position: relative;
    
}

.THIS[for='switch']:after { /* white round thingy*/
	content: "HEllo"; 
	position: absolute;
	top: 1px;
	left: 1.8px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 40px;
	transition: 0.2s;
}

.THIS[id='switch']:checked + label {
	background: #bada55;
    
}

.THIS[id='switch']:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%); 
    
}

.THIS[for='switch']:active:after {
	width: 35px;
    
}


.THIS.body {
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100vh;
    content: "HEllo"; 
}

.THIS.chkbox{
    content: "HEllo"; 
     padding-left: 5px;
   font-weight: bold;
}